a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: grey;
}
ul{
    list-style-type: none;
}
.container{
    display: flex;
    align-items: center;
}
img{
    max-width: 100%;
    height: auto;
}

.link-fusca{
    color: blue;
    text-decoration: underline;
}